In [1]:
import pandas as pd
import numpy as np

# Creating a dataframe from an array

# Option 1

In [4]:
# creating an array
data = np.array([[1, 4], [2, 5], [3, 6]])
data

array([[1, 4],
       [2, 5],
       [3, 6]])

In [7]:
# creating a dataframe
df = pd.DataFrame(data, index = ["row 1", "row 2", "row 3"], columns = ["col 1", "col 2"])
df

       col 1  col 2
row 1      1      4
row 2      2      5
row 3      3      6

# Option 2

In [12]:
# creating an array with list shape
data = [[1, 4], [2, 5], [3, 6]]

In [13]:
# creating a dataframe
df = pd.DataFrame(data, index = ["row 1", "row 2", "row 3"], columns = ["col 1", "col 2"])

In [14]:
df

       col 1  col 2
row 1      1      4
row 2      2      5
row 3      3      6

# Creating a Dataframe from a Dictionary

In [15]:
states = ["California", "Texas", "Florida", "New York"]
populations = [39613493, 29730311, 21944577, 19299981]

In [19]:
# storing lists within a dictionary
dict_states = {"States": states, "Population": populations}
dict_states

{'States': ['California', 'Texas', 'Florida', 'New York'],
 'Population': [39613493, 29730311, 21944577, 19299981]}

In [20]:
# creating a dataframe
df = pd.DataFrame(dict_states)

In [21]:
df

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981