In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv("StudentsPerformance.csv")

In [3]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Selecting one column

In [4]:
# selecting a column with . (This only works for columns with a one-word column name)
df_exams.head(10).gender

0    female
1    female
2    female
3      male
4      male
5    female
6    female
7      male
8      male
9    female
Name: gender, dtype: object

In [5]:
df_exams.head(10).lunch

0        standard
1        standard
2        standard
3    free/reduced
4        standard
5        standard
6        standard
7    free/reduced
8    free/reduced
9    free/reduced
Name: lunch, dtype: object

In [6]:
# selecting a column with [] (This is the preferred way to select a column)
df_exams["race/ethnicity"].head(10)

0    group B
1    group C
2    group B
3    group A
4    group C
5    group B
6    group B
7    group B
8    group D
9    group B
Name: race/ethnicity, dtype: object

In [8]:
# check out the type
type(df_exams["race/ethnicity"])

pandas.core.series.Series

In [7]:
df_exams["parental level of education"].head(10)

0     bachelor's degree
1          some college
2       master's degree
3    associate's degree
4          some college
5    associate's degree
6          some college
7          some college
8           high school
9           high school
Name: parental level of education, dtype: object