In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv("StudentsPerformance.csv")
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Selecting two or more columns

In [4]:
# select two columns using [[]]
df_exams[["gender", "math score"]].head(10)

   gender  math score
0  female          72
1  female          69
2  female          90
3    male          47
4    male          76
5  female          71
6  female          88
7    male          40
8    male          64
9  female          38

In [5]:
# check out this type
type(df_exams[["gender", "math score"]])

pandas.core.frame.DataFrame

In [6]:
# selecting two or more columns with [[]]
df_exams[["gender", "math score", "reading score", "writing score"]].head(10)

   gender  math score  reading score  writing score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75
5  female          71             83             78
6  female          88             95             92
7    male          40             43             39
8    male          64             64             67
9  female          38             60             50