In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv("StudentsPerformance.csv")
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Adding a New Column

## assign()

When to use assign?
- Add multiple columns in a single line of code
- When you need to overwrite the values of an existing columns (best practice)

It returns a new object (a copy) with all the original columns in addition to the new ones

In [3]:
# importing numpy
import numpy as np

In [4]:
# creating random numbers for our new columns
score_1 = np.random.randint(1, 100, size = 1000)
score_2 = np.random.randint(1, 100, size = 1000)

In [5]:
# showing the random numbers
print(score_1, "\n")
print(score_2)

[18 38 48  4 83 81 87 39 32 87 15 43  7  4 20 84 60 99 92 63 46 72 41 24
 49 81 53 44 59 19 20 93 46 65 21 94 67 96 39 14 92 64 15 11 22 79 62 82
  1  3 94 70 63 11 27 73 24  3  7 76 90 46 94 64 10 46 78 41 80 60 38 26
 39 23 58 53 38 42 23 64 10 48 71 50 23 90 66 87 19 74 59  6 91 53 85 54
 32 69 50 71  1 23 76 88 66 32  7 69 87  1 55 15 70 65 75 39 97 53 62 10
 46 88 31  5 53 61 88 23 91 94 26 97 22 76 83 46 49 26 86 53 55  8 19 60
 26  2 24 56 92 59 63 79 71 79 83 37 23  8 57 24 48 61 60 96 67 93 65 37
 32  7 86 82  5 26 54 45 17 60 85 42 62 73  9  6 71 83 12 59 64 11 58 12
 93 91 88 69 43 11 98  7 22 22 94 45 22 75 92 44  2 11 65 43  5 39 31 84
 76 85 39 31  3 20 52 91 71 83  3 49 11  9 51 18 16 80 50  3  2 42 95 88
 74 26 40 11 92 49 51 38 39 44 58 98 11  4 63 12 48 15 60 70 75 38 24 46
 91 33 99 85 32 11 46 24  4 62 12 41 53 92 78 83 41 31 40 56 42 55 41 56
 63 50  2 31 58 77  7 22 35 73 72 64 90 99 25  3 13 38 61 25 91 35 50 50
 57 85  8 12  3 49 32 25 21 82 46 77 35 13 36 86 70 37 66 34 47 12 32 98
 46 88 78 80 24 58 55 23 49 39 33 45 14 91 64 73  5 76 85 46 72 87 10 53
 56 86 52 76 39 95 92 69  9  9 43 25 30 18 61 93 47 80 89 47 61 91 27 26
 84 59  1 22 44 26 93 94 75 63 73 15 53 72 10 74 34 19 58 55 68 54 68  1
 86 64 49 29 73 86  6 34 58 92 75 50 32 49 86 53 82 55 21 46 76 16 67 79
 95 21 31 66 60 30 86 89 20 78 75 76 81 94 35 45  2 86 65 23 28 13 16  1
 58 96 93 66  8 35  5 18 45 78 59  6 66 66  6 90 64 90 47 75 51 72 65 87
 54 28 70 36  6  4 32 58 85 55 70 19 34 63  7 82 36  6 62 35 60 65 60 25
 14 49 77 26 79 30  6 30 74 64 97 52 92 67 45 78 91 23 17 64 62 47 18  1
  2 97 15 30 76 48 12 20 64 19  8 65 81 16 62 71 61 57  5 29  5  9 34  6
 11 76 67 57 10 78 47 97 68 77 25 58 71 36 13 91 68 12  3 81 14 30 14 26
 45  4  2 11 18 88 69 11 25 43 25 88 54 25 98 24 54 63 21 82 29 20 68  7
 73 95 50 71 70 16 45 49 33  4 68 14 67 35 36 14 54  8 19 99 64 21 67 22
 83 83 55 61 83 35 50 62 19 70 47 83 76 43 20 26 88 64 88 90  1 47 37 39
 15 38 21 66 95 57 91 69 94 54 91 75 20 55 41 97  6 41 16 40 77 35 17 55
 56 44 98 36 71 40 35 78 84 81 62 52  9 64 86 21 94 90 62 86 34 48 12  1
  1  1 74  8 17 47 12 92 91 96 26 91 19 43 35 42 95 77 22 34 64 74 54 28
 29 22  2 69  4 78 15 70 81 53 30  5 50 47 58 71 46  1 27 20  6 75 20 75
 61 16  4 22 50 88 88 89 99 64  7 67 85  7 24 64 69 82 25  3 98 52 65 52
 45 85 66 55 37 79 63 78 65 83 18 21 94  3 53 29 71 99 79 91  3  6 31 77
  5 72 27 55 61  7 52 52 65 24 58 82 15 95 25 89 43 85 75 69 39 99 37 20
 37 87 43 53 85 99 17 59 76 68 77 53  8 81 36 60 45 63 50 20  2 82 36 50
  2 43 23 33 21 36 63 90 26 12 70 89 45 62 25 28 35 90 45 85 19 62 60 71
 42 10 76 91 55 72 43 48  3  4 79 14 80 14 58 22 80 68 61 71 99 56 80 59
 31 78 41 29 46  1 28 11 40 52 66 16 90 35 86 58 26 90 15 56 14 31  7 53
 42 78 94 32 50 32  3 51 47 93 25 82 88 50 65  1  6 64 53 62 80 35 55 38
 73 54 77 51 92 62 70 13 33 74 93 87 58 71 46 44  5 47 92 53 99 64 13 15
 72 62 23 39 10 23 34 23 54 19 55 75 63 25 50  1 25 65 25 42 77 50 62 42
 60 38 49 59 48 59 47 64 85 10 18 61 49 88 77 14]

[73  1 15 48 36 74 25 23  9  9 94 69 30 57 53 41 92 14 80 71 13  8 92 93
 61 39 46 12 26 53 23 39 40 68 84 81 33 66 92 73 17  2 16 76 86 64 27 84
 72 16 41 99 32 61 27 85 88 18 16 17 83 22 24 87 31 28 53 69 51  3 97 92
 30 42 33 14 55 59 35 77 98 57 54 52 52 66 72 29 92 86 59 48 34 45 24 46
 86 62 90 69 85 65 69 67 33  2  3 30 85 82 47 10 54 13 12  8 51 69  2 89
 61  6 14 49 23 80 21  1 94  4 12 86  6 99 37  5 93 38 81 46 88 35 70 46
 73  3 99 24 10 85 49 37 86 48 41 66 37 85 38 18 50 37 72 60  6 79 28 97
 44 46 84 61 40 40  5 53 37 28 84 45 56 82 48 66 17 35 32  3 76 95 18 52
 40 19 86 91 80 28 55 44 61 32 15 77 23  8 95  3  1 14 12 14  1 11 88 45
 69 13 60 31 87 79 47 85 81 30 74  8 55 65 79 80 19 25 85 76 59 96 34 40
  8 14 79 85 84 15 30 70 98 86 71 14 45 65 26 50 38 11 99 80 39 22 88 24
 40 75 97 67 40 43 75 11 10  5 65 76 46 70 55 76 67 30 62 35 60 63  7 93
 19 24  7 95 42 27 14 73 11 26 23  5 29 65 32 69 66 53 41 20 98 16 96 48
 44 47 10 35 87 76 84 86 61 89 27 20 16 98 88 82  1 11 44  4 18 64 39 85
  2 87 62 65 18 12 13 23 83 28 98 66 38 17 75 68 31 30 27 16 15 91 54 94
 55 60 28 54 86 78 73 71 14 13 68 82 17 35 89  8 84 96 19 27 53 89  8 40
 75 23 93 39 60 70  6 64 70 87 35 91 70 26 83 50 77 99 19 68 76 67 72 83
 26 43 27  4 87 28 83  3 39 51 81 39  2  4  3 40 64 89 92 26 76 61 52 92
 73 95 98 60 94 18 82 38 43  6 89  9 39  7 55 14 40 53 93 94 39 16 11 28
  5 59 81  2 86  4 58 18 44 13 78 77 33 20  1 69 81 81 53 40 48 49 34 73
 37 89 51 74 60 85 81 49 19 25 36 43 38 42 82 70 57 27 56 21  5 26 91 84
 62 19 80 66 44 30 28 86 66 21 57  3 65 14 77 78 43 75 14 96 96 40 43 26
  6 70  4 43 26 65 48 51 92 94 44 30 74 72 34 95 29 73 81 10 41 63 99 83
 75 98 79 81 64 76 50 79 28 43  3 76 28 57 41 67 46 70 98 75 35 20 87 68
  2 33 86 27 74 53 79 86 92 49 99 33 56 13 10 22 31 29 64 23 42 21 74 47
 63 97  8 81 26 31 90 57  8 48 35 29 74 51 60 91 11 26 11  3 93 41  4 27
  5 43 92 60 98 90 55 19 93 50 25 32  4 45 48 37 65 25 22 88 76 92 47 82
 84 29 68 35 81 53 88 98 75 82 44  6 57 94 67 44 36 75 26 49  2 48 35 57
 47 75 76 70 82 42 44 38  9 80 56 46 66 81 74 38 90 15 57 71 53 48 79 84
  4 23 63 33 53 80 87 22 34 48 33 32 72  3 43 19 88 64 90 58 88 33 31 40
 41 94 88 98 42 93 10 98 31 25 48 74 57 29 22 69 66 80 18  6 72 93 67 95
 52 59 71 11 56 62 61  1 61 85 61 64 56 36  1 45 53 21 77 63  6 21 19 98
 60 44 69 51 80 49 22 14  4 85 82 18  7 37 29 86 68 10 68 51 27 31  4 48
 28  6 23 70 66 48 83 23 44 33 26 42 87 18 92 95 32 74 65 55 42 57 62 64
 56 87 25 82 53 17  8 66 45 76 15 61 83  3 61 46 96 36 30 84 35 99 14 65
 89 67 72 42 53 88 83 66  5 96 67 64 19 57 91 84 69 60 65 59  3 45  6 83
 67 73 75 36 59 22 87 92  5 79 96  4  8 78 33 37 25 52 14 65  7 88 61 95
 93  3  9 42 10 31 54 16 99 33  2 11 33 59 10 56 58 99 39 36  3 67 59 91
 36 52 51 30 49 69  4 35 50 25 72 88 93 48 59 57  2 33 58 15 18  3 24 77
 20 85 70  4 25 17 84 27 11 44 90 63 89  7 23 57 66 65  7 57 42 64 77 57
 16 18 11 49 58 84 43 16 70 27 41 78 61 91 21 13 72 63 21 28 92 47  6 27
 49 98 82 38 43 15 76 48 91 53 76 85 88 84  5  8]

In [6]:
# create a series using the random numbers
series_1 = pd.Series(score_1)
series_2 = pd.Series(score_2)

In [7]:
# showing the series of random numbers
print(series_1, "\n")
print(series_2)

0      18
1      38
2      48
3       4
4      83
       ..
995    61
996    49
997    88
998    77
999    14
Length: 1000, dtype: int32

0      73
1       1
2      15
3      48
4      36
       ..
995    85
996    88
997    84
998     5
999     8
Length: 1000, dtype: int32

In [8]:
# using assign to add multiple columns
df_exams = df_exams.assign(score1 = series_1, score2 = series_2)

In [9]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2
0,female,group B,bachelor's degree,standard,none,72,72,74,18,73
1,female,group C,some college,standard,completed,69,90,88,38,1
2,female,group B,master's degree,standard,none,90,95,93,48,15
3,male,group A,associate's degree,free/reduced,none,47,57,44,4,48
4,male,group C,some college,standard,none,76,78,75,83,36

## Insert()

insert a new column at a specific position or index

In [10]:
df_exams.insert(1, "test", series_1)

In [11]:
df_exams.head()

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2
0,female,18,group B,bachelor's degree,standard,none,72,72,74,18,73
1,female,38,group C,some college,standard,completed,69,90,88,38,1
2,female,48,group B,master's degree,standard,none,90,95,93,48,15
3,male,4,group A,associate's degree,free/reduced,none,47,57,44,4,48
4,male,83,group C,some college,standard,none,76,78,75,83,36