In [3]:
import pandas as pd

In [4]:
# reading the csv file
df_exams = pd.read_csv("StudentsPerformance.csv")
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Value Counts

In [7]:
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [5]:
# counting gender element by category
df_exams["gender"].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [6]:
# return the relative frequency (divide all values by the sum of all values)
df_exams["gender"].value_counts(normalize = True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [8]:
# counting race/ethnicity element by category
df_exams["race/ethnicity"].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [9]:
# return the relative frequency
df_exams["race/ethnicity"].value_counts(normalize = True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [10]:
# counting parental level of education elements by category
df_exams["parental level of education"].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [11]:
# return the relative frequency
df_exams["parental level of education"].value_counts(normalize = True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [12]:
# counting lunch elements by category
df_exams["lunch"].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [13]:
# return the relative frequency
df_exams["lunch"].value_counts(normalize = True)

lunch
standard        0.645
free/reduced    0.355
Name: proportion, dtype: float64

In [14]:
# counting test preparation course elements by category
df_exams["test preparation course"].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [15]:
# return the relative frequency
df_exams["test preparation course"].value_counts(normalize = True)

test preparation course
none         0.642
completed    0.358
Name: proportion, dtype: float64