In [1]:
# import pandas
import pandas as pd

In [2]:
# reading the csv files
# pd.set_option("display.max_rows", 550)

# Create a DataFrame

In [3]:
# read the "bestsellers with categories" csv file (Dataset on Amazon's Top 50 bestselling books from 2009 to 2019.)
# reading the csv files
df = pd.read_csv("bestsellers with categories.csv")

In [4]:
# get access to the shape attribute
df.shape

(550, 7)

In [5]:
# find the data types of each column
df.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

# Display a DataFrame

In [6]:
# show first 5 rows in a dataframe
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [7]:
# describe basic statistics of the dataframe (mean, std, min, max)
df.describe().round(0)

       User Rating  Reviews  Price    Year
count        550.0    550.0  550.0   550.0
mean           5.0  11953.0   13.0  2014.0
std            0.0  11731.0   11.0     3.0
min            3.0     37.0    0.0  2009.0
25%            4.0   4058.0    7.0  2011.0
50%            5.0   8580.0   11.0  2014.0
75%            5.0  17253.0   16.0  2017.0
max            5.0  87841.0  105.0  2019.0

# Add a New Column with an Array

In [8]:
# Your task is to create a column named 'Critic Rating' that should have random integer numbers between 1 and 4

# 1. import numpy and create 550 random integer numbers between 1 and 4
import numpy as np
critical_rating = np.random.randint(1, 4, size = 550)

# 2. add new 'Critic Rating' column to dataframe using the random numbers created
df["Critical Rating"] = critical_rating

# df.insert(1, "Critical Rating", critical_rating)

# Note the random numbers in this new 'Critic Rating' column will be different between your solution and mine, but we'll focus only on the code, in this section.

In [9]:
# show first 5 rows
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critical Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,3
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,3
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,2

# Basic Attributes, Methods & Functions

In [10]:
# get access to the columns attribute
df.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'Critical Rating'],
      dtype='object')

# Selecting Two or More Columns from a DataFrame

In [11]:
# move the new 'Critic Rating' column between the columns "User Rating" and "Reviews" Then update the dataframe

# Tip: Copy and paste the column names obtained with the columns attribute and then rearrange elements using [[]]
df = df[["Name", "Author", "User Rating", "Critical Rating", "Reviews", "Price", "Year", "Genre"]]

In [12]:
# show first 5 rows
df.head()

,Name,Author,User Rating,Critical Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,3,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction

# Operations on DataFrame

In [13]:
# create a column named "Average Rating" by using the following formula: Average Rating = (User Rating + Critic Rating)/2
df["Average Rating"] = (df["User Rating"] + df["Critical Rating"])/2

In [14]:
# use the round function to round the values of the dataframe to 1 decimal and update the dataframe
df = round(df, 1)

# Value Counts

In [15]:
# count elements in "Genre" column by category and return the relative frequency
df["Genre"].value_counts(normalize = True)

Genre
Non Fiction    0.563636
Fiction        0.436364
Name: proportion, dtype: float64

# Rename Columns

In [16]:
# rename columns "User Rating," "Critic Rating" and "Average Rating" to "UR," "CR" and "AR" then update the dataframe with the inplace paraneter
df.rename(columns = {"User Rating":"UR", "Critical Rating":"CR", "Average Rating":"AR"}, inplace = True)

In [17]:
# show first 5 rows
df.head()

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,3.8
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction,3.3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,18979,15,2018,Non Fiction,3.8
3,1984 (Signet Classics),George Orwell,4.7,3,21424,6,2017,Fiction,3.8
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction,3.4

In [18]:
# select only "Name", "Author", "UR", "CR", "AR" and "Year" columns and update dataframe
df = df[["Name", "Author", "UR", "CR", "AR", "Year"]]
df.head(10)

,Name,Author,UR,CR,AR,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,3.8,2016
1,11/22/63: A Novel,Stephen King,4.6,2,3.3,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3,3.8,2018
3,1984 (Signet Classics),George Orwell,4.7,3,3.8,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,3.4,2019
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,1,2.7,2011
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,1,2.8,2014
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,3,3.8,2017
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,3,3.8,2018
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,1,2.8,2016

# Sort a DataFrame

In [19]:
# sort the dataframe descending by "UR" and "CR"
df.sort_values(by = ["UR", "CR"],ascending = False)

,Name,Author,UR,CR,AR,Year
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9,3,4.0,2019
87,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,4.9,3,4.0,2018
147,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,4.9,3,4.0,2013
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3,4.0,2017
174,Humans of New York : Stories,Brandon Stanton,4.9,3,4.0,2015
...,...,...,...,...,...,...
393,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,1,2.4,2014
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,3,3.4,2013
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,1,2.4,2012
132,Go Set a Watchman: A Novel,Harper Lee,3.6,1,2.3,2015
353,The Casual Vacancy,J.K. Rowling,3.3,2,2.6,2012